@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @apply bg-background min-h-screen text-primary font-primary text-[16px] leading-relaxed tracking-wide relative;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      @apply text-primary font-primary;
  }

  .h1 {
      @apply text-[70px] xl:text-[120px] leading-[1.1] font-semibold;
  }

  .h2 {
      @apply text-[56px] xl:text-[80px] leading-[1.2] font-bold;
  }

  :root {
    /* color theme */
    --background: 45.76 59.6% 80.59%;
    --foreground: 188.57 77.78% 7.06%;
    --muted: 38.44 34.04% 63.14%;
    --muted-foreground: 0 37.93% 39.8%;
    --popover: 38.44 34.04% 63.14%;
    --popover-foreground: 188.57 77.78% 7.06%;
    --card: 45.76 59.6% 80.59%;
    --card-foreground: 180 83.51% 19.02%;
    --border: 188.57 77.78% 7.06%;
    --input: 38.44 34.04% 63.14%;
    --primary: 188.57 77.78% 7.06%;
    --primary-foreground: 45.71 60.42% 80.57%;
    --secondary: 0 37.93% 39.8%;
    --secondary-foreground: 45.76 59.6% 80.59%;
    --accent: 180 83.51% 19.02%;
    --accent-foreground: 45.76 59.6% 80.59%;
    --destructive: 10 87% 44%;
    --destructive-foreground: 0 37.93% 39.8%;
    --ring: 0 37.93% 39.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 14 30% 1%;
    --foreground: 14 32% 99%;
    --muted: 14 12% 7%;
    --muted-foreground: 14 14% 73%;
    --popover: 14 30% 1%;
    --popover-foreground: 14 32% 99%;
    --card: 14 30% 2%;
    --card-foreground: 0 0% 100%;
    --border: 14 4% 10%;
    --input: 14 4% 10%;
    --primary: 14 86% 11%;
    --primary-foreground: 14 86% 71%;
    --secondary: 14 4% 12%;
    --secondary-foreground: 14 4% 72%;
    --accent: 14 10% 22%;
    --accent-foreground: 14 10% 82%;
    --destructive: 10 87% 53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 14 86% 11%;
  }
}

@layer components {
  .card-custom-border {
    border-radius: 26px;
    box-shadow: 3px 12px 10px 1px rgba(0, 0, 0, 0.8);
    border-top: 1.5px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.781);
  }

  .card-custom-border::before {
    content: "";
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 6px;
    right: 6px;
    border: 1.5px solid hsl(var(--secondary));
    border-radius: 23px;
    pointer-events: none;
  }

  .card-custom-border::after {
    content: "";
    position: absolute;
    top: 12px;
    bottom: 12px;
    left: 12px;
    right: 12px;
    border-radius: 19px;
    border-left: 1.5px solid hsl(var(--primary));
    border-right: 1.5px solid hsl(var(--primary));
    pointer-events: none;
  }

  .img-shadow {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  /* rotation animation of the card's background svg */
  @keyframes appearing {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }

  .rotate-animation {
    animation: appearing 0.2s;
  }

  .global-note-shadow {
    border: 0.5px solid #8c3f3f;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
  }
  .noise-bg-primary {
    background-color: #fff0c0;
    /* background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png"); */
    background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");
    background-blend-mode: multiply;
  }
}

@layer utilities {
  .contenair {
    @apply min-lpt:max-w-laptop min-desk:max-w-desktop w-full mx-auto;
  }

  .center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .h-screen-nav {
    height: calc(100vh - 65.6px);
  }
  @media (max-width: 768px) {
    .h-screen-nav {
        height: calc(100vh - 53.6px);
    }
}

  .flag-size {
    width: 2rem !important;
    height: 2rem !important;
  }

  .icon-size {
    width: 1.125rem !important;
    height: 1.125rem !important;
  }
}
