@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    height: 100vh;
  }

  body {
    @apply bg-background text-primary font-primary text-[16px] leading-relaxed tracking-wide;
  }

  :root {
    --background: 45.37 61.19% 86.86%;
    --foreground: 188.57 78.82% 10.32%;
    --muted: 38.44 34.04% 63.14%;
    --muted-foreground: 0 37.93% 39.8%;
    --popover: 38.44 34.04% 63.14%;
    --popover-foreground: 188.78 77.36% 10.39%;
    --card: 45.37 61.19% 86.86%;
    --card-foreground: 180 83.51% 19.02%;
    --border: 188.78 77.36% 10.39%;
    --input: 38.44 34.04% 63.14%;
    --primary: 188.78 77.36% 10.39%;
    --primary-foreground: 45.37 61.19% 86.86%;
    --secondary: 0 37.93% 39.8%;
    --secondary-foreground: 45.37 61.19% 86.86%;
    --accent: 180 83.51% 19.02%;
    --accent-foreground: 45.37 61.19% 86.86%;
    --destructive: 10 87% 44%;
    --destructive-foreground: 0 37.93% 39.8%;
    --ring: 0 37.93% 39.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 14 30% 1%;
    --foreground: 14 32% 99%;
    --muted: 14 12% 7%;
    --muted-foreground: 14 14% 73%;
    --popover: 14 30% 1%;
    --popover-foreground: 14 32% 99%;
    --card: 14 30% 2%;
    --card-foreground: 0 0% 100%;
    --border: 14 4% 10%;
    --input: 14 4% 10%;
    --primary: 14 86% 11%;
    --primary-foreground: 14 86% 71%;
    --secondary: 14 4% 12%;
    --secondary-foreground: 14 4% 72%;
    --accent: 14 10% 22%;
    --accent-foreground: 14 10% 82%;
    --destructive: 10 87% 53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 14 86% 11%;
  }
}

@layer components {
  .card-custom-border {
    border-radius: 19px;
    border-left: 1px solid hsl(var(--primary));
    border-right:1px solid hsl(var(--primary));
  }

  .card-custom-border::before {
    content: "";
    position: absolute;
    top: -6px;
    bottom: -6px;
    left: -6px;
    right: -6px;
    border: 1.5px solid hsl(var(--secondary));
    border-radius: 23px;
    pointer-events: none;
  }

  .card-custom-border::after {
    content: "";
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    border-radius: 26px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.41);
    pointer-events: none;
  }

  .img-shadow {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  /* rotation animation of the card's background svg */
  @keyframes appearing {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }

  .rotate-animation {
    animation: appearing 0.2s;
  }

  .global-note-shadow {
    border: 0.5px solid #8c3f3f;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
  }
}

@layer utilities {
  .center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
